__pycache__/
*.pyc

output/
plots_lvqq/
logs/
tmp/

ml/models/
docs/learning_order_slides/build/node_modules/

paper/*.aux
paper/*.fdb_latexmk
paper/*.fls
paper/*.pdf
paper/*.xdv
paper/cutflow_data.json
paper/figs/

*.log
